@charset "utf-8";

body {
    background-color: black;
}

.image {
    text-align: center;
}

.image > img {
    width: 50%;
    height: 50%;
}

.image_set > h2 {
    color: white;
    text-align: center;
}
